* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.bgbox {
    width: 0;
    height: 100vh;
    background-color: rgb(58, 132, 175);
    display:block;
    transition: width 0.5s;
    margin: 0 auto;
    letter-spacing: 0.6rem;
}
.box1{
    width: 28rem;
    height: 30rem;
    margin: 0 auto;
    display:none;
}
.bgbox ul {
    height: 100%;
    padding-top: 18vh;
    line-height: 6vh;
}

.bgbox ul li {
    list-style: none;
    text-align: center;
    height: 3.8rem;
    margin-bottom: 0.8rem;
}
.bgbox ul li a{
    text-decoration: none;
    font-size: 2rem;
    display: block;
    color: rgb(255, 255, 255);
}
.btn {		
    position: relative;	
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    padding-right: 3.1rem;
    padding-left: 3.1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    -webkit-transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
    -webkit-user-select: none;	
        -moz-user-select: none;	
        -ms-user-select: none;	
            user-select: none;
    width:23rem;
    height: 1.8rem;
    margin: 0 auto;
    z-index: 2;
   
    }
.btn:before, .btn:after {
    content: '';
    position: absolute;	
    -webkit-transition: inherit;	
    transition: inherit;
    z-index: -1;
}
/* 文字变色 */
.btn a:hover {
	color: rgb(0, 0, 0);
	-webkit-transition-delay: .8s;
	        transition-delay: .8s;
}
/* 白色边框的浮现 */
.btn:hover:before {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
/* 白底的浮现 */
.btn:hover:after {
	background: rgba(255, 255, 255, 0.5);
	-webkit-transition-delay: .4s;
	        transition-delay: .4s;
}
/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid white;
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}
/* From Right */

.from-right:before, 
.from-right:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-right:before {
	left: 0;
	border: 1px solid white;
	border-left: 0;
	border-right: 0;	
}

.from-right:after {
	right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
	width: 100%;
}
/* From Middle */

.from-middle:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid white;
	border-left: 0;
	border-right: 0;
}

.from-middle:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: white;
}

.from-middle:hover:before {
	left: 0;
	width: 100%;
}

.from-middle:hover:after {
	top: 0;
	height: 100%;
}
/* From Bottom */

.from-bottom:before, 
.from-bottom:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-bottom:before {
	top: 0;	
	border: 1px solid white;
	border-top: 0;
	border-bottom: 0;
}

.from-bottom:after {
	bottom: 0;
	height: 0;
}

.from-bottom:hover:before,
.from-bottom:hover:after {
	height: 100%;
}

.bar {
    width: 40px;
    height: 30px;
    left: 30px;
    position: absolute;
    top: 20px;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(115, 136, 238);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: white;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}
